<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>collegesmaster</display-name>

	<welcome-file-list>
		<welcome-file>pages/home.xhtml</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.TRANSFORM_METADATA</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>dot-luv</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>cm-database-domain</realm-name>
		<form-login-config>
			<form-login-page>/pages/home.xhtml</form-login-page>
			<form-error-page>/pages/home.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Professor Security Constraint -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>professor resources</web-resource-name>
			<url-pattern>/pages/users/professor/*</url-pattern>
			<url-pattern>/pages/users/edit_user.xhtml</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTION</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>PROFESSOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!-- Student Security Constraint -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>student resources</web-resource-name>
			<description />
			<url-pattern>/pages/users/student/*</url-pattern>
			<url-pattern>/pages/users/edit_user.xhtml</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTION</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>STUDENT</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description />
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!-- Administrator Security Constraint -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>administrator resources</web-resource-name>
			<description />
			<url-pattern>/pages/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTION</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>ADMINISTRATOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description />
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Public</display-name>
		<web-resource-collection>
			<web-resource-name>Public</web-resource-name>
			<description />
			<url-pattern>/pages/home.xhtml</url-pattern>
			<url-pattern>/resources/*</url-pattern>
			<url-pattern>../resources/i18n/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>
	
	<servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>br.com.collegesmaster.rest.RestApplication</param-value>
        </init-param>
    </servlet>
    
    <filter>
        <filter-name>Resteasy</filter-name>
        <filter-class>
            org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
        </filter-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>br.com.collegesmaster.rest.RestApplication</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Resteasy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
